:root {
  --yellow: #ff7519;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
}
h1{
  font-size: 3em;
  margin: 20px;
  text-align: center;
  color: rgb(106, 192, 192);
}
